<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SAUCE_SUITE">
  <test thread-count="5" name="SAUCE TEST">
    <classes>
      <class name="com.sauce.tests.LoginTest"/>
      <class name="com.sauce.tests.LogOutTest"/>
       <class name="com.sauce.tests.AddTocarrTest"/>
     
    </classes>
  </test> <!-- SAUCE TEST -->
</suite> <!-- SAUCE_SUITE -->
