<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Sauce_Suite">
  <test thread-count="5" name="Sauce_Test">
    <classes>
      <class name="com.sauce.testcases.LoginTest"/>
      <class name="com.sauce.testcases.AddToCart_Test"/>
      <class name="com.sauce.testcases.Logout_Test"/>
    </classes>
  </test> <!-- Sauce_Test -->
</suite> <!-- Sauce_Suite -->
